@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-white;
  }
}

.planet-name {
  font-size: 2rem;
  color: white;
  margin: 0;
}